body {
    font-family: "Inconsolata", "ChicagoFLF", 'Courier New', Courier, monospace;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
    font-family: "ChicagoFLF";
}

p {
    margin: 0;
    font-family: 'Courier';
}

.content-image {
    width: 100%;
    transition: all 0.5s;
}
.content-image:hover {
    filter: grayscale(0);
}